* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
	font-size: 12px;

	background-color: transparent;
	background-image: url('../img/background.png');
	background-repeat:no-repeat;
	background-size: contain;
	margin:0;
}

.content{
	background:#E4E4E4;
	background:linear-gradient(to bottom, #E4E4E4 0%,#FFFFFF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-repeat:no-repeat;
	margin-top:100%;
	padding:1em;
}

h1 {
	color: #00E5FF;
	font-size: 18px;
	font-weight: normal;
	margin: 12px 0;
	overflow: visible;
	padding: 0px;
	text-align: center;
}

button{
	margin:6px 6px 6px 0;
	padding:6px;
}

fieldset {
	border: 1px solid #808080;
	border-radius: 3px;
	margin: 8px 0;
}

img {
	max-width: 50%;
}

label {
	color: #546E7A;
	display: block;
	margin: 2px;
}

legend {
	color: #455A64;
	font-size: 12px;
	font-weight: bold;
}

input[type="text"],
input[type="tel"],
select,
textarea {
	box-sizing: border-box;
	margin:6px 6px 6px 0;
}

input[type="number"] {
	margin:6px 6px 6px 0;
	width:16%
}

textarea{
	font-size:small;
	width:100%;
}

.blue{
	color:#1976D2;
}

.orange{
	color:#F57C00;
}

img.info{
	float:right;
	opacity:0.33;
	width:32px;
	height:32px;
}

.link{
	color:#0000DD;
	cursor:pointer;
}

.link:active,
.link:hover{
	color:#DD0000;
}

.error{
	color:#E53935;
}

.success{
	color:#43A047;
}